<p id="notice"><%= notice %></p>

<h1>Listing Agent Sessions</h1>

<table>
  <thead>
    <tr>
      <th>Agent</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Hostname</th>
      <th>Ros master uri</th>
      <th>Session status</th>
      <th>Token</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agent_sessions.each do |agent_session| %>
      <tr>
        <td><%= agent_session.agent_id %></td>
        <td><%= agent_session.start_time %></td>
        <td><%= agent_session.end_time %></td>
        <td><%= agent_session.hostname %></td>
        <td><%= agent_session.ros_master_uri %></td>
        <td><%= agent_session.session_status %></td>
        <td><%= agent_session.token %></td>
        <td><%= link_to 'Show', agent_session %></td>
        <td><%= link_to 'Edit', edit_agent_session_path(agent_session) %></td>
        <td><%= link_to 'Destroy', agent_session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agent session', new_agent_session_path %>
