<nav class="navbar navbar-default top-bar">

	<!--
	<form class="navbar-left" role="search">
		<div class="search">
			<input type="text" class="form-control" placeholder="Search">
		</div>
	</form>
	-->

	<div class="navbar-header">
      <a class="navbar-brand robotlux-logo" href="/">
			<img class="logo" src="<%= image_path('robot-lux-logo.png') %>" alt="logo">	
      </a>
    </div>

	<ul class="nav navbar-nav navbar-right top-elements">

		<!-- Active ROS Instances menu -->
		<li id="ros-connection-menu" class="piluku-dropdown dropdown" data-toggle="tooltip" title="Select robots" data-placement="bottom">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="ion-bug icon-notification"></i><span id="number-ros-instances-connected" class="badge info-number warning">0</span></a>
			<ul id="ros-instances-list" class="dropdown-menu dropdown-piluku-menu  animated fadeInUp wow notification-drop neat_drop dropdown-right" data-wow-duration="1500ms" role="menu">
				<li class="dropdown-header">
						<i class="ion-bug"></i> Select Robots to display
				</li>
				<li id="no-robots-detected">
					<a href="#" class="text-warning">No robots detected. Try running 'rosrun luxagent luxagent.py' on a robot.</a>
				</li>
			</ul>
		</li>

		<!-- Packages menu -->
		<li id="packages-menu" class="" data-toggle="tooltip" title="Toggle package menu" data-placement="bottom">
			<a href="#" class="package-bar-toggle"><i class="ion-cube"></i></a>
		</li>

		<!-- Server Connection menu -->
		<li id="server-connection-menu" class="piluku-dropdown dropdown" data-toggle="tooltip" title="Server connection" data-placement="bottom">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
				<i id="server-connection-status" class="ion-flash icon-notification"></i>
			</a>
			<ul id="server-connection-list" class="dropdown-menu dropdown-piluku-menu  animated fadeInUp wow notification-drop neat_drop dropdown-right" data-wow-duration="1500ms" role="menu">
				<li class="dropdown-header">
						<i class="ion-flash"></i> Server Connection
				</li>
				<li id="no-robots-detected">
					<%= render 'layouts/server_connection_panel' %>
				</li>
			</ul>
		</li>

		<!-- RobotLux Admin menu -->
		<% if user_signed_in? %>
			<% if current_user.try(:admin?) %>
				<li id="robotlux-admin-menu" class="piluku-dropdown dropdown" data-toggle="tooltip" title="Settings" data-placement="bottom">
					<a href="#" class="dropdown-toggle avatar_width" data-toggle="dropdown" role="button" aria-expanded="false">
						<i class="ion-ios-gear"></i>
						<!--
						<span class="avatar_info">Admin</span>
						<span class="drop-icon">
						</span>
						-->
					</a>
					<ul class="dropdown-menu dropdown-piluku-menu  animated fadeInUp wow avatar_drop neat_drop dropdown-right" data-wow-duration="1500ms" role="menu">
				        <%= render 'layouts/admin_navigation_links' %>
					</ul>
				</li>
			<% end %>
		<% end %>

		<!-- Org menu -->
		<li id="org-menu" class="piluku-dropdown dropdown" data-toggle="tooltip" title="<%= current_user.org.name %>" data-placement="bottom">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
				<i id="org-icon" class="ion-person-stalker icon-notification"></i>
			</a>
			<ul id="org-menu" class="dropdown-menu dropdown-piluku-menu  animated fadeInUp wow notification-drop neat_drop dropdown-right" data-wow-duration="1500ms" role="menu">
				<li class="dropdown-header">
						<i class="ion-person-stalker"></i> <%= current_user.org.name %>
				</li>
				<li>
					<a href="/users"><%= I18n.t 'users' %></a>
				</li>
				<li>
					<a href="/agents"><%= I18n.t 'agents' %></a>
				</li>
				<li>
					<a href="/robot_instances"><%= I18n.t 'robot_instances' %></a>
				</li>
			</ul>
		</li>	

		<!-- Account menu -->
		<li id="account-menu" class="piluku-dropdown dropdown" data-toggle="tooltip" title="Account" data-placement="bottom">
			<a href="#" class="dropdown-toggle avatar_width" data-toggle="dropdown" role="button" aria-expanded="false">
				<span class="avatar-holder">
					<img src="<%= image_path('piluku/avatar.jpg') %>" alt="">
				</span>
			</a>
			<ul class="dropdown-menu dropdown-piluku-menu  animated fadeInUp wow avatar_drop neat_drop dropdown-right" data-wow-duration="1500ms" role="menu">
				<li class="dropdown-header">
						<i class="ion-person"></i> Simon Birrell
				</li>
		        <%= render 'layouts/navigation_links' %>
			</ul>
		</li>

	</ul>

</nav>

